@charset "utf-8";
/* CSS Document */



#MainBody{
width:965px;
}
#HeaderTop{
background-image:url(https://assets.creativeweblogic.net/bcms/templates/goat_general/images/HeaderTop.jpg);
background-repeat:no-repeat;
background-color:#FFFFFF;
height:31px;
width:945px;
text-align:right;
padding-right:10px;
}
#HeaderBanner{
margin-left:10px;
text-align:left;
}
.HeaderMenu{
padding-top:4px;
}
.HeaderMenu a{
color:#808080;
font-size:12px;
padding-top:8px;
}
#WhiteHeader{
width:956px;
margin-left:9px;
background-color:#FFFFFF;
height:240px;
}
#MenuHolder{
background-color:#FFFFFF;
width:965px;
height:30px;
}
#MainBodyHolder{
width:965px;
}
#MainMenu{
height:26px;
width:945px;
background-color:#97c00a;
margin-right:10px;
text-align:left;
padding-top:4px;
padding-left:10px;
}
#MainMenu a{
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding-left:5px;
padding-right:5px;
text-decoration:none;
}
#MainMenu a:hover{
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
background-color:#000;
font-size:12px;
padding-left:5px;
padding-right:5px;
text-decoration:none;
}
#LeftPanel{
	width:376px;
	float:left;
}
#LeftPanelHeader{
	width:367px;
	height:96px;
	margin-left:9px;
	background-image:url(https://assets.creativeweblogic.net/bcms/templates/goat_general/images/LeftPanelHeader.jpg);
	
}
#RightPanelHolder{
padding-right:10px;
background-color:#FFFFFF;
float:left;
width:579px;
text-align:left;
height:100%;
}
#RightPanel{
background-image:url(https://assets.creativeweblogic.net/bcms/templates/goat_general/images/MainBodyBackground.jpg);
background-repeat:repeat-x;
background-color:#FFFFFF;

width:570px;
padding-top:32px;
padding-left:9px;
height:100%;
}
.MainTitle{
font-size:22px;
font-family:Arial, Helvetica, sans-serif;
padding-bottom:0px;
}
.SubTitle{
font-size:15px;
font-family:Arial, Helvetica, sans-serif;
color:#94ab44;
padding-bottom:15px;
}
.MainText{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#7d7d7d;
}
.MainText p{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#7d7d7d;
}
#MainBodyHolder{
background-image:url(https://assets.creativeweblogic.net/bcms/templates/goat_general/images/MainBodyTextBG.gif);
background-repeat:repeat-y;
}
#LeftPanelTitleHolder{
background-color:#f0f0f0;
width:376px;
height:30px;
}
#LeftPanelTitleBGBlack{
background-color:#000000;
width:21px;
height:30px;
float:left;
}
#LeftPanelTitleBGGrey{
background-color:#3e3e3e;
width:345px;
height:30px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFF;
}



#LeftPanelBodyHolder{
margin-left:9px;
width:367px;
height:100%;
}
#LeftPanelBodyBG{
background-color:#FFFFFF;
width:367px;
height:100%;
padding-bottom:8px;
}
#LeftPanelBodyBGGrey{
margin-left:12px;
background-color:#f0f0f0;
width:345px;
height:100%;
color:#494949;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:left;
padding-left:10px;
}

#LeftPanelBodyBG a{
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
#LeftPanelBodyBG a:hover{
color:#97c00a;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
}

#ClearBody{
clear:both;
}
#FooterHolder{
width:964px;
text-align:left;
}
#FooterBGWhite{
margin-left:9px;
width:933px;
background-color:#FFFFFF;
padding-right:10px;
padding-left:11px;
padding-bottom:30px;
}
#FooterBGGrey{
width:913px;
background-color:#cdcdcd;
height:22px;
padding-right:10px;
padding-left:10px;
}
#FooterTextRight a,#FooterTextLeft a{
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
#FooterTextRight a:hover,#FooterTextLeft a:hover{
color:#97c00a;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
#FooterTextLeft{
float:left;
}
#FooterTextRight{
float:right;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #94c308;
	border-right: #94c308 1px solid;
	border-top: #94c308 1px solid;
	border-left: #94c308 1px solid;
	border-bottom: #94c308 1px solid;
}

#LanguageMap a{
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
#LanguageMap a:hover{
color:#97c00a;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
}